.container {

    display: flex;
    flex-direction: row;



}

.left { 

    width: 15%;
    height: 100vh;
    background-color: rgb(238, 238, 238);

    display: flex;
    flex-direction: column;




}

.left a {

}

.right { 

    width: 85%;
    height: 100vh;
  

    float: right;
  

}

.elements{
    display: flex;
    width: 100%;
}

.tag { 
    margin-left: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;

    &:hover {
        transform: translateY(-2px);
    }
}

.header { 

    padding: 10px;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 30px;
    cursor: pointer;

}



.helloMessage{
    margin-left: 20px;
    width: 380px;
  
}


.elementContainer{ 
    display: flex;
    width: 100%;
}

.bookSection {
    height: 100vh;
    margin: 20px;
   
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

}

.card { 

    margin: 10px;
    width: 200px;
    height: 300px;
 
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    cursor: pointer;


    box-shadow: 2px 2px 10px #ccc;
    overflow: hidden;
    white-space: nowrap;


 


  

}
a { 
    text-decoration: none;
    color: black;
}

.bookImg { 
    
    width: 200px;
    height: 250px;
  


}

.title {
     margin: 0 auto;
     font-size: 25px;
  
}

.author{
    margin: 0 auto;
    color: rgb(129, 129, 129);
}