<div class="container">

    <div class="signUp">

        <span class="dot"></span>
        <span class="dot2"></span>

        <h1>New here?</h1>
        <p>Sign up and discover new books!</p>
        <button mat-raised-button>Sign up!</button>

   
           
  

       

    </div>

    <div class="login">

        <h1 class="header">Log In</h1>

        <div class="username">
            <h4 id="username">Username</h4>
            <input type="text" placeholder="Username">
        </div>

        <div class="password">
            <h4>Password</h4>
            <input type="password" placeholder="Enter your password">
        </div>

        <button mat-button class="submit">Log In</button>


    </div>

</div>