.container { 
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 900px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  


    box-shadow: 2px 10px 10px #ccc;
}

.signup {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
}



.username h4 {
    padding-left: 13px;
    margin: 0; 

}

.username {
    margin-bottom: 30px;


}
.username input { 
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 500px;
    height: 35px;
    text-indent: 10px;
    
}

.password h4 {
    padding-left: 13px;
    margin: 0;
}

.password {
    margin-bottom: 20px;

}

.password input { 

    border-radius: 20px;
    border: 1px solid #ccc;
    width: 500px;
    height: 35px;
    text-indent: 10px;



}


.submit { 
    width: 80%;
    border-radius: 60px;
    background-color:#3ddbc0;
    color: white;

    &:hover { 

        background-color:white;
        color: #3ddbc0;
        border: 1px solid #3ddbc0;

    }


}

#errorMessage{ 
    font-size: small;
    color: red;
}



.dot { 

    position: absolute;
   
    height: 150px;
    width: 150px;
    background-color: #c1f2ea;
    border-radius: 50%;

    opacity: 25%;
    right: 650px;
    bottom: 80px;

    
}

.dot2 { 

    position: absolute;
   
    height: 50px;
    width: 50px;
    background-color: #c1f2ea;
    border-radius: 50%;
    z-index: 0;

    opacity: 20%;
    right: 640px;
    bottom: 40px;


}