<div class="container">



    <div class="signup">

        <h1 class="header">Sign up</h1>

        <div class="username">
            <h4 id="username">Username</h4>
            <input id="usernameField" type="text" placeholder="Username" #username>
        </div>

        <div class="password">
            <h4>Password</h4>
            <input id="passField" type="password" placeholder="Enter your password" #password>
        </div>

        <div id="errorMessageBox" *ngFor="let error of errors">
            <p id="errorMessage">{{error}}</p>
        </div>

        <button mat-button class="submit" (click)="createUser(username.value, password.value)">Sign In</button>


    </div>

</div>