<div class="container">

    <div class="left">
       <a routerLink="/" class="header">libApp</a>




    <a class="tag" href="">All books</a>
    <a class="tag" href="">Settings</a>
    <a class="tag" href="">Contact</a>
    <a class="tag" href="">Log out</a>
 

    </div>




    <div class="right">

        <div class="detailsGeneral">
            <h1 id = 'bookTitle'>{{booksInfo.title}}</h1>

            <div id="detailsBox">

                <img id="bookImage" [src]="booksInfo.thumbnail" alt="Book Image">

                <div id="details">

                    <h3 id = "bookAuthor">{{booksInfo.author}}</h3>
                    <h4 id="categoryInfo">{{booksInfo.categories}}</h4>
                    <p id="description">{{booksInfo.description}}</p>

                    <button mat-button id="addButton" (click)="addBook(booksInfo)">Add to basket</button>
    
    

                </div>

                

               
            </div>

            
            <hr>

            <h1 class="bookTitle">People who read this also read:</h1>

            <div class="bookSection"  >

                <a  routerLink="/bookdetails" class="card" *ngFor="let book of books" (click)="getInfo(book)">
                    <img class="bookImg2" src={{book.thumbnail}} alt="">
                    <h2 class="title2">{{book.title}}</h2>
                    <p class="author2">{{book.author}}</p>
                </a>
              
                
               
                
            </div>



        </div>

        




    </div>


</div> 